<app-intre></app-intre>
<section class="flex">

  <form >
    <div class="">
      <label for="todo">Task:</label>
      <input type="text" name="todo" placeholder="Enter your to do Task" [(ngModel)]="tasks">
    </div>
    <div style="text-align: center;">
      <h4>Priority</h4>
      @for (item of priority; track $index) {
        <div>
        <input type="radio" name="priority" [value]="item" [(ngModel)]="prior_value">
        <label for="least">{{item}}</label>
      </div>
      }
    </div>
  
    <div>
      <label for="date">Due Date</label>
      <input type="date" name="date" [(ngModel)]="date">
    </div>
    @if(tasks && prior_value && date){
      <button  mat-flat-button type="button"(click)="addition(tasks,prior_value,date)">Submit</button>
    }
    @else {
      <button  mat-flat-button disabled type="button" class="disabled">Submit</button>
    }
  </form>
  
  
  
  <table>
    <tr>
      <th>Task</th>
      <th>Priority</th>
      <th>Due Date</th>
    </tr>
    <tr *ngFor=" let item of list">
      <td>{{item.name}}</td>
      <td>{{item.priority}}</td>
      <td>{{item.date}}</td>
      <button mat-flat-button type="button" (click)="remove(item.id)">Remove</button>
    </tr>
  </table>
</section>

