<section class="flex">

  <form >
    <div class="">
      <label for="todo">Task:</label>
      <input type="text" name="todo" placeholder="Enter your to do Task" #task>
    </div>
    <div style="text-align: center;">
      <h4>Priority</h4>
      <input type="radio" name="priority" value="Least" #p>
      <label for="least">Least</label>
      <input type="radio" name="priority" value="Medium" #p>
      <label for="medium">Medium</label>
      <input type="radio" name="priority" value="Greatest" #p>
      <label for="Greatest">Greatest</label>
    </div>
  
    <div>
      <label for="date">Due Date</label>
      <input type="date" name="date" #date>
    </div>
  
    <button type="button"(click)="addition(task.value,p.value,date.value)">Submit</button>
  </form>
  
  
  
  <table>
    <tr>
      <th>Task</th>
      <th>Priority</th>
      <th>Due Date</th>
    </tr>
    <tr *ngFor=" let item of list">
      <td>{{item.name}}</td>
      <td>{{item.priority}}</td>
      <td>{{item.date}}</td>
      <button type="button" (click)="remove(item.id)">Remove</button>
    </tr>
  </table>
</section>

